<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <span class="title-empresa">Nuestra empresa</span>
                <ul class="footer-list">
                    <li><a href="quienes_somos.html">Quiénes Somos</a></li>
                    <li><a href="">Trabaja con Nosotros</a></li>
                    <li><a href="">Términos y Condiciones</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <span class="title-servicios">Nuestros servicios</span>
                <ul class="footer-list">
                    <li><a href="">Restaurantes patrocinados</a></li>
                    <li><a href="">Tiendas patrocinadas</a></li>
                    <li><a href="">Mapa interactivo</a></li>
                    <li><a href="">Blog - Recetario</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <span class="title-ayuda">¿Te ayudamos?</span>
                <ul class="footer-list">
                    <li><a href="">Preguntas frecuentes</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Garantías y Devoluciones</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <span class="title-redes">Nuestras redes</span>
                <div class="d-flex flex-wrap"></div>
                <a href="https://www.facebook.com/Paliii.17/" class="social-icon"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                <a href="" class="social-icon"><i class="fa-brands fa-tiktok"></i></a>
                <a href="" class="social-icon"><i class="fa-brands fa-pinterest"></i></a>
            </div>
            <div class="col-md-2 offset-md-1">
                <span class="quinta-columna"></span>
                    <ul class="footer-list">
                        <li><a href="">Política de Privacidad</a></li>
                        <li><a href="">Política de Cookies</a></li>
                        <li><a href="">Configuración de Cookies</a></li>
                        <li><a href="/loginAdm">Administrador</a></li>
                    </ul>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <hr class="footer-divider">
                <p class="footer-brand">ZeroGluten &copy; Todos los derechos reservados. 2024.</p>
            </div>
        </div>   
    </div>     
</footer>