<!-- {% block title %}{% endblock %} -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"> -->
<style>
    .body{
        background-color: rgba(22, 33, 20);
        color: rgb(255, 240, 210);
    }
</style>
<!-- {% block content %} -->
<!-- <div class="container mt-5"> -->
    <body class="body2">
        <div class="contenedor-adm justify-content-center">
            <h2 class="text-center mb-4">{{title[0]}}</h2>
            <div class=" bg justify-content-center">
            <ul class="form-adm list-group">
                <div class="mb-3">
                    <li class="list-group-item">
                        <a href="/administrador">ABM Productos (Próximamente)</a>
                    </li>
                </div>
                <div class="mb-3">
                    <li class="list-group-item">
                        <a href="/restaurants">ABM Restaurantes</a>
                    </li>
                </div>
                <div class="mb-3">
                    <li class="list-group-item">
                        <a href="/contactoABM">Envíos de Formulario de Contacto</a>
                    </li>
                </div>
                <div class="mb-3"> 
                    <li class="list-group-item">
                        <a href="#">ABM Información (Próximamente)</a>
                    </li>
                </div>    
            </ul>
            </div>
        </div>
</body>
<!-- </div> -->
<!-- {% endblock %} -->
