{% include 'defaults/head3.html' %}
<body class="body2">
    <div>
      <div class="container form-container">
        <div class="catalogo contenedor-prod justify-content-center">
            <h2 class="text-center mb-4">{{title[0]}}</h2>
            <div class="form-producto bg justify-content-center">
                <li class="list-group-item">
                    <a href="/administrador" class="listadm">ABM Productos</a>
                </li>
            </div><br>
            <div class="form-producto bg justify-content-center">
                <li class="list-group-item">
                    <a href="/restaurants" class="listadm">ABM Restaurantes</a>
                </li>
            </div><br>
            <div class="form-producto bg justify-content-center">
                <li class="list-group-item">
                    <a href="/contactoABM" class="listadm">Visualización de formularios</a>
                </li>
            </div><br>
            <div class="form-producto bg justify-content-center">
                <li class="list-group-item">
                    <a href="#" class="listadm">ABM Información (Próximamente)</a>
                </li>
            </div>
            </div>
          </div>
      </div>
    </div>
    </body>
{% include 'defaults/footer2.html' %}